<h1 class="">TT Commons</h1>
<p class="">Regular: {{ text }}</p>
<p class="">Medium: {{ text }}</p>
<p class=""><strong>Bold: {{ text }}</strong></p>

<p>{{ textlong }}</p>

<p>{{ textshort }}</p>

<p>{{ text }}</p>


<h1 class="font__backup">Roboto</h1>
<p class="font__backup">{{ textlong }}</p>
<p class="font__backup">Regular: {{ text }}</p>
<p class="font__backup">Medium: {{ text }}</p>
<p class="font__backup"><strong>Bold: {{ text }}</strong></p>
